/*==========================================================================
	global
==========================================================================*/
/*--------------------------------------------------------------------------
	html
---------------------------------------------------------------------------*/
html{
	// height: 100%;
	overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1;
	display: flex;
}


/*--------------------------------------------------------------------------
	body
---------------------------------------------------------------------------*/
body{
	// height: 100%;
	font-family: $FontYugo;
	font-size: 1.4rem;
	color: #333;
	line-height: 1.8;
	text-size-adjust: 100%;
	max-width: 960px;
	margin: 0 auto;
}


/*--------------------------------------------------------------------------
	.box
--------------------------------------------------------------------------*/
.box{
	max-width: 960px;
	margin: 50px 30px;
	overflow: hidden;

	h1{
		margin-bottom: 10px;
	}

	input[type="text"]{
		min-width: 340px;
		height: 22px;
		margin-right: 10px;
		padding: 0 5px;
	}

	select{
		height: 26px;
		min-width: 350px;
		margin-right: 10px;
	}

	textarea{
		margin-bottom: 10px;
		padding: 10px;
	}

	button{
		cursor: pointer;
		float: right;
	}
}
